* {
  box-sizing: border-box;
  font-family: "Rubik";
  background-color: white;
  font-size: 18px;
}

body {
  max-width: 1500px;
  margin: auto;
}

#root {
  color: #003580;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleBloc {
  width: 100%;
  font-size: 18px;
  font-weight: 800;
  padding: 8px;
  margin-bottom: 8px;
  border-left: 2px solid #579eff;
  border-bottom: 2px solid #579eff;
  border-bottom-left-radius: 8px;
}

.header {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #003580;
  margin-top: 10px;
  margin-bottom: 20px;
}
.header_logo {
  width: 15%;
}
.header_logo img {
  width: 90%;
}
.header_title {
  width: 70%;
  text-align: center;
  color: #579eff;
  line-height: 28px;
}
.header_title h1 {
  font-family: "Open Sans";
  font-size: 28px;
}

.spinloader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.spinloader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: yellow transparent #579eff transparent;
  animation: spinloader 1.2s infinite;
}

@keyframes spinloader {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.footercontainer {
  width: 95%;
  height: 150px;
  display: flex;
  justify-content: center;
  background-color: #c8c8c8;
  margin-top: 25px;
  margin-bottom: 8px;
}

.homecontainer {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homecontainer_box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.homecontainer_card {
  width: 95%;
  margin-left: 14px;
}
.homecontainer_card--section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: red;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}
.homecontainer_card--section img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  max-width: 95%;
  max-height: 200px;
  border-radius: 8px;
}
.homecontainer_vignette {
  color: #003580;
}
.homecontainer_vignette img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  max-width: 95%;
  max-height: 200px;
  border-radius: 8px;
}
.homecontainer_vignette p {
  font-size: 14px;
  margin: 0;
}

.infocontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 14px;
  background-color: #c8c8c8;
  border-radius: 8px;
}
.infocontainer_box {
  font-size: 14px;
  background-color: #c8c8c8;
  margin: 0 10px;
}

.navbar {
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-right: 3px solid red;
}
.navbar_icon {
  font-size: 35px;
  cursor: pointer;
}
.navbar_icon--red {
  color: red;
  font-size: 35px;
  cursor: pointer;
}
.navbar_icon--blue {
  color: #579eff;
  font-size: 35px;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */