.titleBloc {
  width: 100%;
  font-size: $font_l;
  font-weight: 800;
  padding: $margin_s;
  margin-bottom: $margin_s;
  border-left: 2px solid $colors_second;
  border-bottom: 2px solid $colors_second;
  border-bottom-left-radius: $radius_s;
}