* {
  box-sizing: border-box;
  font-family: $fontstyle_std;
  background-color: $colors_white;
  font-size: $font_l;
}

body {
  max-width: 1500px;
  margin: auto; 
}

#root {
  color: $colors_first;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
