//
// COLORS
//
$colors_first: #003580;
$colors_second: #579eff;
$colors_third: red;
$colors_fourth: #c8c8c8;
$colors_fifth: yellow;
$colors_white: white;
$colors_black: black;

//
// MARGIN PADDING
//
$margin_xs: 5px;
$margin_s: 8px;
$margin_sm: 10px;
$margin_m: 14px;
$margin_ml: 16px;
$margin_l: 20px;
$margin_xl: 25px;
$margin_xxl: 30px;
$margin_xxxl: 40px;

//
// FONTS STYLE
//
$fontstyle_std: "Rubik";
$fontstyle_h1: "Open Sans";

//
// FONTS SIZE
//
$font_s: 10px;
$font_m: 14px;
$font_l: 18px;
$font_xl: 22px;
$font_xxl: 28px;
$font_icon: 35px;

//
// RADIUS
//
$radius_s: 8px;
$radius_m: 12px;
$radius_l: 16px;
$radius_xl: 20px;
